/*window base css*/
html, body{
  height: 100%;
  width: 100%;
}
body{
  margin: 0 0;
  cursor: default;
  -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  background: url(../img/pic/desktop.jpg) no-repeat center;
  background-size: 100% 100%;
}
.window {
  background-color: #515c6b;
  position: absolute;
  cursor: default;
  -moz-box-shadow:0px 1px 13px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow:0px 1px 13px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid #515c6b;
  min-width: 150px;
  min-height: 120px;
}
.window>.content{
  height: 271px;
  width: inherit;
  background-color: #fff;
  position: absolute;
  top: 29px;
  min-width: 150px;
  min-height: 90px;
}
.window>.dragger{
  position: absolute;
  height: 26px;
  width: inherit;
  min-width: 150px;
  top: 3px;
  z-index: 1;

}
.window>.dragger.dragging{
  height: 29px;
  width: inherit;
  left: 0;
  top: 0;
  z-index: 3;
}
.window>.resize{
  position: relative;
  height: inherit;
  width: inherit;
  min-width: 150px;
  min-height: 120px;
}
.window>.resize *{
  position: absolute;
}
.window .resize .bar {
  z-index: 1;
}
.window>.resize .bar.left{
  height: inherit;
  min-height: 120px;
  width: 7px;
  cursor: ew-resize;
  left: -7px;
}
.window>.resize .bar.top{
  height: 7px;
  width: inherit;
  min-width: 150px;
  cursor: ns-resize;
  top: -4px;
}
.window>.resize .bar.right{
  height: inherit;
  min-height: 120px;
  width: 7px;
  cursor: ew-resize;
  right: -7px;
}
.window>.resize .bar.bottom{
  height: 7px;
  width: inherit;
  min-width: 150px;
  cursor: ns-resize;
  bottom: -7px;
}
.window>.resize .dot{
  z-index: 2;
  width: 7px;
  height: 7px;
}
.window>.resize .dot.left-top{
  cursor: nw-resize;
  top: -5px;
  left: -5px;
}
.window>.resize .dot.right-top{
  cursor: ne-resize;
  right: -5px;
  top: -5px;
}
.window>.resize .dot.right-bottom{
  cursor: nw-resize;
  right: -5px;
  bottom: -5px;
}
.window>.resize .dot.left-bottom{
  cursor: sw-resize;
  bottom: -5px;
  left: -5px;
}
.window>.btn-bar{
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  width: 138px;
  z-index: 2;
}
.window>.btn-bar .btn{
  position: relative;
  float: left;;
  height: 29px;
  width: 46px;
  line-height: 29px;
  text-align: center;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}
.window>.btn-bar .btn:hover{
  background-color: #6a7685;
}
.window>.btn-bar .btn.btn-close:hover{
  background-color: #da3636;
}
.window>.btn-bar .btn>div{
  height: inherit;
}
.window>.btn-bar .btn.btn-minimize>div{
  background: url(../img/icon/minimize.ico) no-repeat center;
  background-size: 13px 13px;
}
.window>.btn-bar .btn.btn-close>div{
  background: url(../img/icon/close.ico) no-repeat center;
  background-size: 13px 13px;
}
.window>.btn-bar .btn.btn-maximize>div{
  background: url(../img/icon/maximize-l.ico) no-repeat center;
  background-size: 12px 12px;
}
.window>.btn-bar .btn.btn-maximize.max>div{
  background: url(../img/icon/maximize-s.ico) no-repeat center;
  background-size: 13px 13px;
}
.window.unselected>.btn-bar .btn:hover{
  background-color: #e4e5e5;
}
.window.unselected>.btn-bar .btn.btn-close:hover{
  background-color: #da3636;
}
.window.unselected>.btn-bar .btn.btn-minimize>div{
  background: url(../img/icon/minimize-2.ico) no-repeat center;
  background-size: 13px 13px;
}
.window.unselected>.btn-bar .btn.btn-close>div{
  background: url(../img/icon/close-2.ico) no-repeat center;
  background-size: 13px 13px;
}
.window.unselected>.btn-bar .btn.btn-maximize>div{
  background: url(../img/icon/maximize-l-2.ico) no-repeat center;
  background-size: 12px 12px;
}
.window.unselected>.btn-bar .btn.btn-maximize.max>div{
  background: url(../img/icon/maximize-s-2.ico) no-repeat center;
  background-size: 13px 13px;
}
.window.unselected>.btn-bar .btn.btn-minimize:hover>div{
  background: url(../img/icon/minimize-3.ico) no-repeat center;
  background-size: 13px 13px;
}
.window.unselected>.btn-bar .btn.btn-close:hover>div{
  background: url(../img/icon/close.ico) no-repeat center;
  background-size: 13px 13px;
}
.window.unselected>.btn-bar .btn.btn-maximize:hover>div{
  background: url(../img/icon/maximize-l-3.ico) no-repeat center;
  background-size: 12px 12px;
}
.window.unselected>.btn-bar .btn.btn-maximize.max:hover>div{
  background: url(../img/icon/maximize-s-3.ico) no-repeat center;
  background-size: 13px 13px;
}


/*window animation css*/
.window-animate.maximize-cover{
  height: 0;
  width: 0;
  left: 7px;
  right: 7px;
  top: 7px;
  bottom: 7px;
  position: fixed;
  -moz-box-shadow: 0px 0px 20px 5px #b8b8b8;
  -webkit-box-shadow: 0px 0px 20px 5px #b8b8b8;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  visibility: hidden;
}
.window-animate.maximize-cover>.cover-inner{
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  opacity: 0.1;
  height: inherit;
  width: inherit;
  background: rgba(255, 255, 255, 0.4);
}

